<!DOCTYPE html>
<html>
<head>


<link href="./all.css" rel="stylesheet">
<link rel="stylesheet" href="fontawesome.css">
<script src="fontawesome.js">

</script>
<script src="https://kit.fontawesome.com/4966a4aa28.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

<style>
* {
  box-sizing: border-box;
}

body {
  width:1024px;
    height: 100vh;
    margin: 0;

  margin: 2em;
  font-family: Arial;
  /*font-size: 17px;*/


  /* The image used */
  background-image: url("progicon.jpg");

  /* Full height */

  /* Center and scale the image nicely */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  top: 400px;
  margin: 2em;
}


</style>
</head>
<body>



  <div class="image">
    <h1>Hello...</h1>
  </div>
















</body>
</html>
